PORT=3000
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/rolliude_play?schema=public"
JWT_SECRET="supersecret_jwt_key_here"
JWT_EXPIRES_IN="1d"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
STORAGE_BUCKET="rolliude-play-videos"
STORAGE_ACCESS_KEY=""
STORAGE_SECRET_KEY=""
STORAGE_ENDPOINT=""
